<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671554158064-9tmhlpeuob94lruu1cmc1hrker98rrpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671554158064-9tmhlpeuob94lruu1cmc1hrker98rrpk</string>
	<key>API_KEY</key>
	<string>AIzaSyAaxn3DxNAWFrM3eorZXp5oB4RRTV2OALI</string>
	<key>GCM_SENDER_ID</key>
	<string>671554158064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tulaHack</string>
	<key>PROJECT_ID</key>
	<string>tulahack-30d57</string>
	<key>STORAGE_BUCKET</key>
	<string>tulahack-30d57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671554158064:ios:75bfd7b0cc6378c9f67135</string>
</dict>
</plist>